@model ProductListViewModel

<p>
    <a class="btn btn-outline-primary" href="/product/add">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Unit in Stock</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td>
                    <a class="btn btn-xs btn-success">Add to Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<product-list-pager current-page="@Model.CurrentPage"
                    current-category="@Model.CurrentCategory"
                    page-size = "@Model.PageSize",
                    page-count="@Model.PageCount">
               
   
</product-list-pager>